.tbl-main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;

}

th,
td {
    background-color: #96D4D4;
    padding: 30px;
    margin: 20px;
}

button {
    padding: 30px;
}