.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.table_tictactoe {
    display: grid;
    grid-template: repeat(3, 100px)/repeat(3, 100px);
    gap: 3px;
}

.table_element {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #70b8d9;
    font-size: xx-large;
}