.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.tbl-main {
    margin-bottom: 5px;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

th,
td {
    background-color: #96D4D4;
    padding: 29px;
    margin: 20px;
}

.score {
    background-color: bisque;
}